html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #111111;
  color: #ffffff;
  overflow: hidden;
}

div#content {
  min-height: 100%;
  position: relative;
  text-align: center;
}

h1 {
  font-family: 'Source Serif Pro', 'Times New Roman', Times, serif
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

input {
  background-image: url('https://nimses.com/favicon-32x32.png');
  background-size: 30px;
  background-position: 5px 6px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}
